.skillTag {
	display:inline;
}

.skillTag img {
	max-height: 40px;
}

body{
	font-family: Verdana, Arial;
	padding-top: 5px;
	background-color: #fff;
	color: #2d2e2e;
}

h1 {
	font-family: Cambria, Verdana, Arial;
}

#themes {
	float: left;
}

#themes button {
	border: 0px; 
	position: static;
	color: white;
	margin: 0 auto;
	display: inline-block;
	background-color: rgb(70, 70, 70);
	border-radius: 5px;
	margin: 5px;
	padding: 5px 7px 5px 7px;
}

@media screen and (max-width: 500px) {
	#themes button {
		display: block;
	}
}

.btn {
	font-size: 1em;
	border: 0px; 
	position: absolute; 
	color: #2d2e2e;
}

.more {
	border: 0px; 
}

.moreTxt{
	margin-top: 2em;
	padding: 1em;
	text-align: left;
}

hr{
	border-color: #2d2e2e;
}

#githubID {
	background-color: lightgrey;
	position: static; 
	font-weight: bold;
	color: #000;
}

#English {
	float: right;
	color: white;
	position: static;
	margin: 5px;
}

#Italiano {
	float: right;
	color: white;
	position: static;
	margin: 5px;
}

#downloadDiv{
	clear: both;
	text-align: right;
}

ul{
	padding: 0;
	padding-top: .2em;
}

li{
	list-style-position: inside;
}

.progress {
	height: 1.67em;
}
#bio{
	text-align: center;
	word-wrap: break-word;
	display: inline-block;
}
#profileID {
	padding: 0em 5em 0em 5em;
}

#skillsSection {
	width: 40%;
	display: inline-block;
}
/*This makes it so the services section becomes centered on smaller screens*/
@media screen and (min-width: 768px) {
    #servicesSection {
    	width: 50%;
    	float: right;
    }
}

@media screen and (min-width: 1000px) {
    #skillsSection {
    }
    #bio{
    	float: left;
    	width: 50%;
    	margin-right: 5em;
	}

}

#projectsSection {
	width: 100%;
}

#contacts {
	margin: 0 auto;
	background-color: #eeeeee;
	max-width: 25em;
	border: 2px solid gray;
	border-radius: 5px;
	color: #2d2e2e;
	margin-top: 2em;
}

#contacts a p {
	color: rgb(51, 122, 183);
}

.field {
	margin: 10px;
	padding-top: 1px;
	text-align: left;

	word-break: break-all;
	word-wrap: break-word;
}
.field a p,.field p {
	text-align: left;
	font-size: 1.3em;
	display: inline; 
	word-break: break-all;
	word-wrap: break-word;
}

#grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.gridSquare {
	width: 550px;
    height: 590px;
    max-height: 590px;
    max-width: 550px;
    min-height: 550px;
    min-width: 500px;
    padding: 0.5em;
    margin: 10px;
    background-color: #fff;
    overflow: auto;
}

.gridSquare a img {
	border: 1px solid black;
}

.gridSquare h3 a {
	color: rgb(51, 122, 183);
}

.skillTags{
	background-color: #fff;
	border-radius: 10px;
	width: 55%;
	margin: 0 auto;
	padding: 5px;
	box-shadow: 0px 2px 5px black;
}

/*Show projects in a single column if screen is too small.*/
@media screen and (max-width: 1199px) {
	#grid {
		justify-content: center;
	}
	#skillsSection {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	#bio{
		width: 100%;
	}
}

/*Make projects smaller if screen is too small.*/
@media screen and (max-width: 600px) {
	.gridSquare {
		width: 95%;
    	min-width: 200px;
    	height: auto;
    	overflow: auto;
	}
	.screenshots{
		width: 90%;
	}
}

#gitHub{
	clear: both;
	text-align: center;
}

.alignCenter{
	text-align: center;
}


#titleID{
	font-size: 1.5em;
}
#bio img{
	border-radius: 60px;
}