.skillTag {
	display:inline;
}

.skillTag img {
	max-height: 40px;
}

body{
	font-family: Verdana, Arial;
	color:#2d2e2e;
	padding-top: 5px;
}

h1 {
	font-family: Cambria, Verdana, Arial;
}

.btn {
	font-size: 1em;
	border: 0px; 
	position: absolute; 
	color: #2d2e2e;
}

#githubID {
	position: static; 
	font-weight: bold;
}

#English {
	float: right; margin-left:10px;
	color: white;
	position: static; 
}

#Italiano {
	float: right;
	color: white;
	position: static;
}

#skillsID {
	text-align: center;
}

.progress {
	height: 1.67em;
}

#skillsSection {
	width: 100%;
}

/*This makes it so the services section becomes centered on smaller screens*/
@media screen and (min-width: 768px) {
    #servicesSection {
    	width: 50%;
    	float: right;
    }
}

#projectsSection {
	width: 100%;
	float: right;
}

#email {
	word-wrap: break-word;
}

#contacts {
	background-color: #eeeeee;
	max-width: 22em;
	border: 2px solid gray;
	border-radius: 5px;
}

.field {
	margin: 10px;
	padding-top: 1px;
	text-align: left;
}

#name {
	text-align: center;
}

#grid {
	width: 100%;
	text-align: center;
}

.gridSquare {
	width: 550px;
    height: 550px;
    max-height: 550px;
    max-width: 550px;
    min-height: 500px;
    min-width: 500px;
    border: 2px solid black;
    padding: 1px;
    border-radius: 15px;
    float: left;
    margin: 10px;
}

/*Last square is centered to make it look even.*/
.centeredGridSquare{
	float: none;
	display: inline-block;
}

/*Show projects in a single column if screen is too small.*/
@media screen and (max-width: 1199px) {
	.gridSquare {
		float: none;
		display: inline-block;
	}
}

#gitHub{
	clear: both;
}