:root {
	--lightModeLink: rgb(51, 122, 183);
	--darkModeLink: rgb(0, 216, 255);
	--darkModeBg: rgb(21, 21, 21);
	--darkGrey: #2d2e2e;
	--themeGray: rgb(70, 70, 70);
	--more: #595959;
	--darkMore: #bbb;
	--contactsBg: #eee;
	--contactsText: #2F6FA7;
	--darkContacts: rgba(0, 0, 0, 0.9);
}

html {
	box-sizing: border-box;
}

body {
	font-size: 14px;
	line-height: 1.42857143;
	font-family: Verdana, Arial;
	padding-top: 5px;
	background-color: #fff;
	color: var(--darkGrey);
	margin: 0;
}

body.darkMode {
	color: var(--darkModeLink);
	background-color: var(--darkModeBg);
}

.container{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px
}
@media (min-width: 768px) {
	.container{
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container{width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

p {
	color: #000;
}

.darkMode p {
	color: #fff;
}

a {
	color: var(--lightModeLink);
	text-decoration: none;
}

a:hover {
	color: #23527c;
	text-decoration: underline;
}

.darkMode a {
	color: var(--darkModeLink);
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1 {
	font-family: Cambria, Verdana, Arial;
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

.hidden {
	display: none;
}

.skillTag {
	display:inline;
}

.skillTag img {
	max-height: 40px;
}

.themesAndButtons {
	display: flex;
	justify-content: space-between;
}

.tag {
	border-radius: 3px;
	padding: 2px;
	cursor: pointer;
}

.tag.selected {
	background-color: yellow;
	color: #000 !important;
	border: 1px solid gray;
}

.tag:hover {
	border: 1px solid gray;
}

img {
	vertical-align: middle;
}

#themes button {
	border: 0px;
	position: static;
	color: #fff;
	margin: 0 auto;
	display: inline-block;
	background-color: var(--themeGray);
	border-radius: 5px;
	margin: 5px;
	padding: 5px 7px 5px 7px;
	cursor: pointer;
	outline: none;
}

#themes button:hover {
	background-color: var(--more);
}

.webDevSkills {
	column-count: 2;
}

@media screen and (max-width: 500px) {
	#themes button {
		display: block;
	}

	.webDevSkills {
		column-count: 1;
	}
}

.btn {
	font-size: 1em;
	border: 0px;
	color: var(--darkGrey);
}

#downloadID {
	padding: 10px 0 18px;
	margin: 0;
}

hr {
	margin: 0 0 20px 0;
	border: 0;
	border-top: 1px solid var(--darkGrey);
}

.darkMode hr {
	border-color: var(--darkModeLink);
}

.more {
	font: inherit;
	border: 0px;
	font-style: italic;
	color: var(--more);
	font-weight: bold;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.more:hover,
.more p:hover {
	color: #000;
}

.more p {
	line-height: 0px;
	margin: 0;
	color: var(--more);
}

.darkMode .more {
	color: var(--darkMore);
}

.darkMode .more:hover,
.darkMode .more p:hover {
	color: #fff;
}

.moreTxt{
	margin-top: 2em;
	padding: 1em;
	text-align: left;
}

#githubID {
	background-color: lightgrey;
	position: static;
	font-weight: bold;
	color: #000;
	display: inline-block;
	border-radius: 5px;
	margin: 5px;
	padding: 5px 7px 5px 7px;
	text-decoration: none;
}

#githubID:hover {
	background-color: grey;
}

#buttons .btn {
	font-family: Verdana, Arial;
	background-color: var(--lightModeLink);
	color: #fff;
	margin: 5px;
	cursor: pointer;
	padding: 3px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	user-select: none;
	outline: none;
}

#buttons .btn:hover {
	background-color: #286090;
	border-color: #204d74;
}

#downloadDiv {
	text-align: right;
}

ul {
	padding: 0;
	padding-top: .2em;
}

li {
	list-style-position: inside;
	line-height: 24px;
	color: var(--darkGrey);
}

.darkMode li {
	color: #fff;
}

.progress {
	height: 1.67em;
}
#bio {
	text-align: center;
	word-wrap: break-word;
	display: inline-block;
}
#profileID {
	padding: 0em 5em 0em 5em;
}

#skillsSection {
	width: 40%;
	display: inline-block;
}

#skillsSection h3 {
	font-size: 18px;
}

@media screen and (min-width: 1000px) {
	#bio {
		float: left;
		width: 50%;
		margin-right: 5em;
	}
}

#projectsSection {
	width: 100%;
}

#contacts {
	margin: 0 auto;
	background-color: var(--contactsBg);
	max-width: 25em;
	border: 2px solid gray;
	border-radius: 5px;
	color: var(--darkGrey);
	margin-top: 2em;
}

.darkMode #contacts {
	color: #fff;
	background-color: var(--darkContacts);
}

#contacts a p {
	color: var(--contactsText);
}

.darkMode #contacts a p {
	color: var(--darkModeLink);
}

.field {
	margin: 10px;
	padding-top: 1px;
	text-align: left;

	word-break: break-all;
	word-wrap: break-word;
}
.field a p,
.field p {
	text-align: left;
	font-size: 1.3em;
	display: inline;
	word-break: break-all;
	word-wrap: break-word;
}

#grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

.gridSquare {
	width: 550px;
	max-width: 550px;
	min-width: 500px;
	padding: 0.5em;
	margin: 10px;
	overflow: auto;
}

.gridSquare .screenshots {
	border: 1px solid #000;
}

.gridSquare h4 {
	font-size: 14px;
}

.skillTags {
	background-color: #fff;
	border-radius: 10px;
	width: 55%;
	margin: 0 auto;
	padding: 5px;
	box-shadow: 0px 2px 5px #000;
}

.darkMode .skillTags .tag {
	color: #000;
}

/*Show projects in a single column if screen is too small.*/
@media screen and (max-width: 1199px) {
	#grid {
		grid-template-columns: 1fr;
	}

	#skillsSection {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	#bio {
		width: 100%;
	}
}

.screenshots {
	border-radius: 10px;
}

/*Make projects smaller if screen is too small.*/
@media screen and (max-width: 600px) {
	.gridSquare {
		width: 95%;
		min-width: 200px;
		height: auto;
		overflow: auto;
	}

	.screenshots {
		width: 65%;
	}
}

#gitHub {
	margin: 0 auto;
	text-align: center;
}

.alignCenter {
	text-align: center;
}

#titleID {
	font-size: 1.5em;
}
#bio img {
	border-radius: 60px;
}

/* Icons */
@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?ng3luv');
	src: url('fonts/icomoon.eot?ng3luv#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?ng3luv') format('truetype'),
	url('fonts/icomoon.woff?ng3luv') format('woff'),
	url('fonts/icomoon.svg?ng3luv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	/* speak: none; */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-up-arrow:before {
	content: "∧";
}
.icon-down-arrow:before {
	content: "∨";
}
.icon-map-marker:before {
	content: "\e903";
}
.icon-envelope-o:before {
	content: "\e904";
}
.icon-envelope:before {
	content: "\e905";
}
.icon-lightbulb-o:before {
	content: "\e906";
}
.icon-download:before {
	content: "\e900";
}
